[package]
name = "namada_merkle_tree"
description = "Namada merkle tree"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[features]
migrations = ["namada_migrations", "linkme"]
testing = ["namada_core/testing"]

[dependencies]
namada_core.workspace = true
namada_macros.workspace = true
namada_migrations = { workspace = true, optional = true }

arse-merkle-tree.workspace = true
borsh.workspace = true
eyre.workspace = true
ics23.workspace = true
linkme = { workspace = true, optional = true }
prost.workspace = true
thiserror.workspace = true

[dev-dependencies]
namada_core = { path = "../core", features = ["testing"] }

assert_matches.workspace = true
proptest.workspace = true
itertools.workspace = true
