[package]
name = "namada_migrations"
description = "Namada DB migration tooling"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[features]
masp = ["masp_primitives"]

[dependencies]
masp_primitives = { workspace = true, optional = true }
namada_macros.workspace = true

lazy_static.workspace = true
linkme.workspace = true
