[package]
name = "namada_ibc"
description = "Namada IBC"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[features]
default = []
migrations = [
  "namada_migrations",
  "linkme",
]
testing = ["namada_core/testing", "ibc-testkit", "proptest"]

[dependencies]
namada_core = { path = "../core" }
namada_events = { path = "../events", default-features = false }
namada_gas = { path = "../gas" }
namada_macros = {path = "../macros"}
namada_migrations = {path = "../migrations", optional = true}
namada_state = { path = "../state" }
namada_storage = { path = "../storage" }
namada_systems = { path = "../systems" }
namada_token = { path = "../token" }
namada_tx = { path = "../tx" }
namada_vp = { path = "../vp" }

borsh.workspace = true
data-encoding.workspace = true
konst.workspace = true
linkme = {workspace = true, optional = true}
ibc.workspace = true
ibc-derive.workspace = true
ibc-testkit = {workspace = true, optional = true}
ics23.workspace = true
masp_primitives.workspace = true
primitive-types.workspace = true
proptest = { workspace = true, optional = true }
prost.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
smooth-operator.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
namada_core = { path = "../core", features = ["testing"] }
namada_governance = { path = "../governance" }
namada_parameters = { path = "../parameters", features = ["testing"] }
namada_proof_of_stake = { path = "../proof_of_stake", features = ["testing"] }
namada_state = { path = "../state", features = ["testing"] }
namada_tx = { path = "../tx", features = ["testing"] }
namada_vm = { path = "../vm", features = ["testing"] }

assert_matches.workspace = true
ibc-testkit.workspace = true
proptest.workspace = true
