[workspace]
resolver = "2"

members = [
  "crates/account",
  "crates/apps",
  "crates/apps_lib",
  "crates/benches",
  "crates/controller",
  "crates/core",
  "crates/encoding_spec",
  "crates/ethereum_bridge",
  "crates/events",
  "crates/gas",
  "crates/governance",
  "crates/ibc",
  "crates/light_sdk",
  "crates/macros",
  "crates/migrations",
  "crates/merkle_tree",
  "crates/parameters",
  "crates/proof_of_stake",
  "crates/replay_protection",
  "crates/namada",
  "crates/node",
  "crates/sdk",
  "crates/shielded_token",
  "crates/state",
  "crates/storage",
  "crates/test_utils",
  "crates/tests",
  "crates/token",
  "crates/trans_token",
  "crates/tx",
  "crates/tx_env",
  "crates/tx_prelude",
  "crates/vm",
  "crates/vm_env",
  "crates/vote_ext",
  "crates/vp_env",
  "crates/vp_prelude",
  "examples",
]

# wasm packages have to be built separately
exclude = [
  "wasm",
  "wasm_for_tests",
  "test_fixtures",
]

[workspace.package]
authors = ["Heliax AG <hello@heliax.dev>"]
edition = "2021"
documentation = "https://docs.namada.net/"
homepage = "https://namada.net/"
keywords = ["blockchain", "privacy", "crypto", "protocol", "network"]
license = "GPL-3.0"
readme = "README.md"
repository = "https://github.com/anoma/namada"
version = "0.41.0"

[workspace.dependencies]
ark-bls12-381 = {version = "0.3"}
ark-serialize = {version = "0.3"}
ark-std = "0.3.0"
# branch = "bat/feat/validate-root"
arse-merkle-tree = {package = "sparse-merkle-tree", git = "https://github.com/heliaxdev/sparse-merkle-tree", rev = "bab8cb96872db22cc9a139b2d3dfc4e00521d097", default-features = false, features = ["std", "borsh"]}
assert_cmd = "1.0.7"
assert_matches = "1.5.0"
async-trait = {version = "0.1.51"}
base58 = "0.2.0"
base64 = "0.13.0"
bech32 = "0.8.0"
bimap = {version = "0.6.2", features = ["serde"]}
bit-set = "0.5.2"
bitflags = { version = "2.5.0", features = ["serde"] }
blake2b-rs = "0.2.0"
byte-unit = "4.0.13"
byteorder = "1.4.2"
borsh = {version = "1.2.0", features = ["unstable__schema", "derive"]}
borsh-ext = { git = "https://github.com/heliaxdev/borsh-ext", tag = "v1.2.0" }
chrono = {version = "0.4.22", default-features = false, features = ["clock", "std"]}
circular-queue = "0.2.6"
clap = "4.5"
clap_complete = "4.5"
clap_complete_nushell = "4.5"
clru = {git = "https://github.com/marmeladema/clru-rs.git", rev = "71ca566"}
color-eyre = "0.6.2"
concat-idents = "1.1.2"
config = { git = "https://github.com/mehcode/config-rs.git", rev = "e3c1d0b452639478662a44f15ef6d5b6d969bf9b" }
data-encoding = "2.3.2"
derivation-path = "0.2.0"
derivative = "2.2.0"
directories = "4.0.1"
drain_filter_polyfill = "0.1.3"
duration-str = "0.10.0"
ed25519-consensus = "2.1.0"
either = "1.12.0"
escargot = "0.5.7"
ethabi = "18.0.0"
ethbridge-bridge-contract = {git = "https://github.com/heliaxdev/ethbridge-rs", tag = "v0.24.0"}
ethbridge-bridge-events = {git = "https://github.com/heliaxdev/ethbridge-rs", tag = "v0.24.0"}
ethbridge-events = {git = "https://github.com/heliaxdev/ethbridge-rs", tag = "v0.24.0"}
ethbridge-structs = { git = "https://github.com/heliaxdev/ethbridge-rs", tag = "v0.24.0" }
ethers = "2.0.0"
expectrl = "0.7.0"
eyre = "0.6.12"
fd-lock = "3.0.12"
flate2 = "1.0.22"
fs_extra = "1.2.0"
futures = "0.3"
git2 = { version = "0.18.1", default-features = false }
ibc = { git = "https://github.com/cosmos/ibc-rs", rev = "7ff41b3804cda649e0d7f7c21389b8d65f8d9b4b", features = ["serde"] }
ibc-derive = { git = "https://github.com/cosmos/ibc-rs", rev = "7ff41b3804cda649e0d7f7c21389b8d65f8d9b4b" }
ibc-testkit = { git = "https://github.com/cosmos/ibc-rs", rev = "7ff41b3804cda649e0d7f7c21389b8d65f8d9b4b", default-features = false }
ics23 = "0.11.0"
index-set = { git = "https://github.com/heliaxdev/index-set", tag = "v0.8.1", features = ["serialize-borsh", "serialize-serde"] }
indexmap = { git = "https://github.com/heliaxdev/indexmap", tag = "2.2.4-heliax-1", features = ["borsh-schema", "serde"] }
itertools = "0.12.1"
jubjub = "0.10"
k256 = { version = "0.13.0", default-features = false, features = ["ecdsa", "pkcs8", "precomputed-tables", "serde", "std"]}
konst = { version = "0.3.8", default-features = false }
lazy_static = "1.4.0"
ledger-namada-rs = { git = "https://github.com/Zondax/ledger-namada", tag = "v0.0.24" }
ledger-transport-hid = "0.10.0"
libc = "0.2.97"
libloading = "0.7.2"
linkme = "0.3.24"
# branch = "main"
masp_primitives = { git = "https://github.com/anoma/masp", rev = "8d83b172698098fba393006016072bc201ed9ab7" }
masp_proofs = { git = "https://github.com/anoma/masp", rev = "8d83b172698098fba393006016072bc201ed9ab7", default-features = false, features = ["local-prover"] }
num256 = "0.3.5"
num_cpus = "1.13.0"
num-derive = "0.4"
num-rational = "0.4.1"
num-traits = "0.2.14"
once_cell = "1.8.0"
orion = "0.16.0"
owo-colors = "3.5.0"
paste = "1.0.9"
patricia_tree = "0.8.0"
pretty_assertions = "1.4.0"
primitive-types = "0.12.1"
proptest = "1.4.0"
proptest-state-machine = "0.3.0"
prost = "0.12.0"
prost-types = "0.12.0"
rand = {version = "0.8", default-features = false}
rand_core = {version = "0.6", default-features = false}
rayon = "=1.5.3"
regex = "1.10.2"
reqwest = "0.11.4"
ripemd = "0.1"
rlimit = "0.5.4"
# rocksdb = {version = "0.22.0", features = ['zstd'], default-features = false}
# TEMP branch "tomas/no-jemalloc-win", replace once upstreamed
rocksdb = {git = "https://github.com/heliaxdev/rust-rocksdb", rev = "4dc7f4fdfa17e923d3078d51261e3db66707754d", features = ['zstd'], default-features = false}
rpassword = "5.0.1"
serde = {version = "1.0.125", features = ["derive"]}
serde_bytes = "0.11.5"
serde_json = "1.0.62"
sha2 = "0.9.3"
sha2-const = "0.1.2"
signal-hook = "0.3.9"
slip10_ed25519 = "0.1.3"
smooth-operator = {git = "https://github.com/heliaxdev/smooth-operator", tag = "v0.7.0"}
# sysinfo with disabled multithread feature
sysinfo = {version = "0.27.8", default-features = false}
tar = "0.4.37"
tempfile = {version = "3.2.0"}
tendermint = {version = "0.37.0", features = ["secp256k1"]}
tendermint-config = "0.37.0"
tendermint-light-client = "0.37.0"
tendermint-proto = "0.37.0"
tendermint-rpc = {version = "0.37.0", default-features = false}
test-log = {version = "0.2.14", default-features = false, features = ["trace"]}
tiny-bip39 = {git = "https://github.com/anoma/tiny-bip39.git", rev = "bf0f6d8713589b83af7a917366ec31f5275c0e57"}
tiny-hderive = {git = "https://github.com/heliaxdev/tiny-hderive.git", rev = "173ae03abed0cd25d88a5a13efac00af96b75b87"}
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
thiserror = "1.0.38"
tokio = {version = "1.8.2", default-features = false}
tokio-test = "0.4.2"
toml = "0.5.8"
tonic = "0.8.3"
tonic-build = "0.11.0"
tower = "0.4"
tower-abci = "0.15.0"
tracing = "0.1.30"
tracing-appender = "0.2.2"
tracing-log = "0.2.0"
tracing-subscriber = {version = "0.3.7", default-features = false, features = ["env-filter", "fmt"]}
wasmparser = "0.107.0"
wasm-instrument = {version = "0.4.0", features = ["sign_ext"]}
wasmer = "4.3.5"
wasmer-cache = "4.3.5"
wasmer-compiler = "4.3.5"
wasmer-compiler-singlepass = "4.3.5"
wasmer-types = "4.3.5"
wasmer-vm = "4.3.5"
winapi = "0.3.9"
yansi = "0.5.1"
zeroize = { version = "1.5.5", features = ["zeroize_derive"] }

[patch.crates-io]
# Patch to the fork containing the correct personalization and basepoints for masp
reddsa = { git = "https://github.com/heliaxdev/reddsa", rev = "46d363b929e1b940688fa0c53d637e304a755185" }

[profile.release]
lto = true
opt-level = 3
panic = "unwind"
overflow-checks = true
