[workspace]
resolver = "2"

members = [
  "apps",
  "core",
  "ethereum_bridge",
  "proof_of_stake",
  "shared",
  "test_utils",
  "tests",
  "tx_prelude",
  "vm_env",
  "macros",
  "vp_prelude",
  "encoding_spec",
]

# wasm packages have to be built separately
exclude = [
  "wasm",
  "wasm_for_tests",
]

[patch.crates-io]
# TODO temp patch for <https://github.com/near/borsh-rs/issues/82>, <https://github.com/near/borsh-rs/issues/84> and more tba.
borsh = {git = "https://github.com/heliaxdev/borsh-rs.git", rev = "cd5223e5103c4f139e0c54cf8259b7ec5ec4073a"}
borsh-derive = {git = "https://github.com/heliaxdev/borsh-rs.git", rev = "cd5223e5103c4f139e0c54cf8259b7ec5ec4073a"}
borsh-derive-internal = {git = "https://github.com/heliaxdev/borsh-rs.git", rev = "cd5223e5103c4f139e0c54cf8259b7ec5ec4073a"}
borsh-schema-derive-internal = {git = "https://github.com/heliaxdev/borsh-rs.git", rev = "cd5223e5103c4f139e0c54cf8259b7ec5ec4073a"}
# The following 3 crates patch a work-around for https://github.com/smol-rs/polling/issues/38 breaking namada tooling build with nightly 2022-05-20
polling = {git = "https://github.com/heliaxdev/polling.git", rev = "02a655775282879459a3460e2646b60c005bca2c"}
async-io = {git = "https://github.com/heliaxdev/async-io.git", rev = "9285dad39c9a37ecd0dbd498c5ce5b0e65b02489"}
async-process = {git = "https://github.com/heliaxdev/async-process.git", rev = "e42c527e87d937da9e01aaeb563c0b948580dc89"}
# borsh = {path = "../borsh-rs/borsh"}
# borsh-derive = {path = "../borsh-rs/borsh-derive"}
# borsh-derive-internal = {path = "../borsh-rs/borsh-derive-internal"}
# borsh-schema-derive-internal = {path = "../borsh-rs/borsh-schema-derive-internal"}

# patched to a commit on the `eth-bridge-integration+consensus-timeout` branch of our fork
tendermint = {git = "https://github.com/heliaxdev/tendermint-rs.git", rev = "becb27564c143f9a1e64d85cfe80a6dac1acce33"}
tendermint-config = {git = "https://github.com/heliaxdev/tendermint-rs.git", rev = "becb27564c143f9a1e64d85cfe80a6dac1acce33"}
tendermint-proto = {git = "https://github.com/heliaxdev/tendermint-rs.git", rev = "becb27564c143f9a1e64d85cfe80a6dac1acce33"}
tendermint-rpc = {git = "https://github.com/heliaxdev/tendermint-rs.git", rev = "becb27564c143f9a1e64d85cfe80a6dac1acce33"}
tendermint-testgen = {git = "https://github.com/heliaxdev/tendermint-rs.git", rev = "becb27564c143f9a1e64d85cfe80a6dac1acce33"}
tendermint-light-client-verifier = {git = "https://github.com/heliaxdev/tendermint-rs.git", rev = "becb27564c143f9a1e64d85cfe80a6dac1acce33"}

# patched to a commit on the `eth-bridge-integration` branch of our fork
ibc = {git = "https://github.com/heliaxdev/cosmos-ibc-rs.git", rev = "e06e2ca10bbf555dc87cf4a02a9f37a67931f268"}
ibc-proto = {git = "https://github.com/heliaxdev/ibc-proto-rs.git", rev = "c8c607d0f7a1ffae19df7b3e04f467d0a836a75b"}
ibc-relayer = {git = "https://github.com/heliaxdev/hermes.git", rev = "568ffee00f24aaf3b01db5af51583bec06b69164"}
ibc-relayer-types = {git = "https://github.com/heliaxdev/hermes.git", rev = "568ffee00f24aaf3b01db5af51583bec06b69164"}

# patched to a commit on the `eth-bridge-integration` branch of our fork
tower-abci = {git = "https://github.com/heliaxdev/tower-abci.git", rev = "88d5f2f8ffaf484d3e9db8924fe595c54cdd6459"}

# patched to the yanked 1.2.0 until masp updates bitvec
funty = { git = "https://github.com/bitvecto-rs/funty/", rev = "7ef0d890fbcd8b3def1635ac1a877fc298488446" }

[profile.release]
lto = true
opt-level = 3
panic = "unwind"
overflow-checks = true
