[package]
name = "namada_vp_prelude"
description = "Namada validity predicate WASM prelude"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[features]
default = []

[dependencies]
namada_account.workspace = true
namada_core.workspace = true
namada_events.workspace = true
namada_gas.workspace = true
namada_governance.workspace = true
namada_ibc.workspace = true
namada_macros.workspace = true
namada_parameters.workspace = true
namada_proof_of_stake.workspace = true
namada_storage.workspace = true
namada_token.workspace = true
namada_tx.workspace = true
namada_vm_env.workspace = true
namada_vp_env.workspace = true

borsh.workspace = true
sha2.workspace = true
