[package]
name = "namada_token"
description = "Namada transparent and shielded token"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[features]
default = []
std = ["namada_shielded_token/std"]
mainnet = ["namada_shielded_token/mainnet"]
masp = ["namada_shielded_token/masp"]
migrations = ["namada_migrations", "namada_shielded_token/migrations", "linkme"]
multicore = ["namada_shielded_token/multicore"]
download-params = ["namada_shielded_token/download-params"]
testing = ["namada_core/testing", "namada_shielded_token/testing", "proptest", "masp_primitives"]
arbitrary = ["dep:arbitrary", "namada_core/arbitrary"]

[dependencies]
masp_primitives = {workspace = true, optional = true }
namada_core = { path = "../core" }
namada_events = { path = "../events", default-features = false }
namada_macros = { path = "../macros" }
namada_migrations = { path = "../migrations", optional = true }
namada_shielded_token = { path = "../shielded_token" }
namada_storage = { path = "../storage" }
namada_systems = { path = "../systems" }
namada_trans_token = { path = "../trans_token" }
namada_tx = { path = "../tx" }
namada_tx_env = { path = "../tx_env" }

arbitrary = { workspace = true, optional = true }
borsh.workspace = true
linkme = {workspace = true, optional = true}
proptest = { workspace = true, optional = true }
serde.workspace = true

[dev-dependencies]
namada_core = { path = "../core", features = ["testing"] }
namada_shielded_token = { path = "../shielded_token", features = ["testing"] }

masp_primitives.workspace = true

proptest.workspace = true

