[package]
name = "namada_token"
description = "Namada transparent and shielded token"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[features]
default = []
multicore = ["namada_shielded_token/multicore"]
download-params = ["namada_shielded_token/download-params"]
testing = ["namada_core/testing", "namada_shielded_token/testing", "proptest"]

[dependencies]
namada_core = { path = "../core" }
namada_events = { path = "../events", default-features = false }
namada_macros = { path = "../macros" }
namada_shielded_token = { path = "../shielded_token" }
namada_storage = { path = "../storage" }
namada_trans_token = { path = "../trans_token" }

borsh.workspace = true
proptest = { workspace = true, optional = true }
serde.workspace = true

[dev-dependencies]
namada_core = { path = "../core", features = ["testing"] }
namada_shielded_token = { path = "../shielded_token", features = ["testing"] }

proptest.workspace = true
