[package]
name = "namada_vm_env"
description = "Namada VM environment for WASM"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[features]
default = []
c_unwind = []

[dependencies]
namada_core.workspace = true
