[package]
name = "namada_vp"
description = "The Namada validity predicates native trait and host functions"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[features]
testing = ["namada_core/testing"]

[dependencies]
namada_core.workspace = true
namada_events.workspace = true
namada_gas.workspace = true
namada_state.workspace = true
namada_tx.workspace = true
namada_vp_env.workspace = true

smooth-operator.workspace = true
thiserror.workspace = true
tracing.workspace = true
