[package]
name = "namada"
description = "The main Namada library crate"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["wasm-runtime"]
mainnet = ["namada_core/mainnet"]
std = ["namada_sdk/std"]
wasm-runtime = [
  "parity-wasm",
  "rayon",
  "wasm-instrument",
  "wasmer-cache",
  "wasmer-compiler-singlepass",
  "wasmer-vm",
  "wasmer",
]
# Enable queries support for an async client
async-client = ["async-trait", "namada_sdk/async-client"]

# Requires async traits to be safe to send across threads
async-send = []

# tendermint-rpc support
tendermint-rpc = [
  "async-client",
  "dep:tendermint-rpc",
  "namada_sdk/tendermint-rpc",
]
# tendermint-rpc HttpClient
http-client = ["tendermint-rpc/http-client"]

# for integration tests and test utilities
testing = [
  "namada_core/testing",
  "namada_ethereum_bridge/testing",
  "namada_parameters/testing",
  "namada_proof_of_stake/testing",
  "namada_sdk/testing",
  "namada_state/testing",
  "namada_token/testing",
  "async-client",
  "proptest",
  "tempfile",
]

namada-sdk = [
  "tendermint-rpc",
  "masp_primitives/transparent-inputs",
  "namada_sdk/namada-sdk",
  "namada_sdk/rand",
]

namada-eth-bridge = [
  "namada_ethereum_bridge/namada-eth-bridge",
  "namada_sdk/namada-eth-bridge",
]

multicore = [
  "masp_proofs/multicore",
  "namada_sdk/multicore",
  "namada_token/multicore",
]
rand = ["namada_sdk/rand"]
migrations = [
  "namada_migrations",
  "linkme",
]
benches = ["namada_core/benches", "namada_state/benches"]

[dependencies]
namada_account = { path = "../account" }
namada_core = { path = "../core" }
namada_events = { path = "../events", default-features = false }
namada_ethereum_bridge = { path = "../ethereum_bridge", default-features = false }
namada_gas = { path = "../gas" }
namada_governance = { path = "../governance" }
namada_ibc = { path = "../ibc" }
namada_migrations = { path = "../migrations", optional = true }
namada_parameters = { path = "../parameters" }
namada_proof_of_stake = { path = "../proof_of_stake" }
namada_replay_protection = { path = "../replay_protection" }
namada_sdk = { path = "../sdk", default-features = false }
namada_state = { path = "../state" }
namada_token = { path = "../token" }
namada_tx = { path = "../tx" }
namada_tx_env = { path = "../tx_env" }
namada_vote_ext = { path = "../vote_ext" }
namada_vp_env = { path = "../vp_env" }

async-trait = { version = "0.1.51", optional = true }
borsh.workspace = true
borsh-ext.workspace = true
clru.workspace = true
ethers.workspace = true
eyre.workspace = true
itertools.workspace = true
linkme = {workspace = true, optional = true}
masp_primitives.workspace = true
masp_proofs.workspace = true
parity-wasm = { version = "0.45.0", features = ["sign_ext"], optional = true }
proptest = { workspace = true, optional = true }
prost.workspace = true
rand.workspace = true
rayon = { version = "=1.5.3", optional = true }
ripemd.workspace = true
serde_json.workspace = true
sha2.workspace = true
smooth-operator.workspace = true
tempfile = { version = "3.2.0", optional = true }
tendermint-rpc = { workspace = true, optional = true }
thiserror.workspace = true
tiny-bip39.workspace = true
tracing.workspace = true
uint = "0.9.5"
wasm-instrument = { workspace = true, optional = true }
wasmer = { workspace = true, optional = true }
wasmer-cache = { workspace = true, optional = true }
wasmer-compiler-singlepass = { workspace = true, optional = true }
wasmer-vm = { workspace = true, optional = true }
wasmparser.workspace = true

[target.'cfg(not(target_family = "wasm"))'.dependencies]
tokio = { workspace = true, features = ["full"] }

[target.'cfg(target_family = "wasm")'.dependencies]
tokio = { workspace = true, default-features = false, features = ["sync"] }
wasmtimer = "0.2.0"

[dev-dependencies]
namada_core = { path = "../core", default-features = false, features = [
  "testing",
] }
namada_parameters = { path = "../parameters", default-features = false, features = [
  "testing",
] }
namada_ethereum_bridge = { path = "../ethereum_bridge", default-features = false, features = [
  "testing",
] }
namada_proof_of_stake = { path = "../proof_of_stake", default-features = false, features = [
  "testing",
] }
namada_sdk = { path = "../sdk", features = ["std", "testing"] }
namada_state = { path = "../state", features = ["testing"] }
namada_test_utils = { path = "../test_utils" }

assert_matches.workspace = true
async-trait.workspace = true
base58.workspace = true
byte-unit.workspace = true
ibc-testkit.workspace = true
k256.workspace = true
pretty_assertions.workspace = true
proptest.workspace = true
tempfile.workspace = true
test-log.workspace = true
tokio = { workspace = true, features = ["rt", "macros"] }
tracing-subscriber.workspace = true
