[package]
name = "namada_account"
description = "Namada user account"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[features]
default = []
testing = ["namada_core/testing", "proptest"]
arbitrary = ["dep:arbitrary", "namada_core/arbitrary"]
migrations = ["namada_migrations", "linkme"]

[dependencies]
namada_core.workspace = true
namada_macros.workspace = true
namada_migrations = { workspace = true, optional = true }
namada_storage.workspace = true

arbitrary = { workspace = true, optional = true }
borsh.workspace = true
linkme = { workspace = true, optional = true }
proptest = { workspace = true, optional = true }
serde.workspace = true

[dev-dependencies]
namada_core = { path = "../core", features = ["testing"] }

proptest.workspace = true
