[package]
name = "namada_governance"
description = "Namada governance"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[features]
testing = ["proptest"]
arbitrary = ["dep:arbitrary", "namada_core/arbitrary"]
migrations = ["namada_migrations", "linkme"]

[dependencies]
namada_account.workspace = true
namada_core.workspace = true
namada_events = { workspace = true, default-features = false }
namada_macros.workspace = true
namada_migrations = { workspace = true, optional = true }
namada_state.workspace = true
namada_systems.workspace = true
namada_tx.workspace = true
namada_vp_env = { workspace = true }

arbitrary = { workspace = true, optional = true }
borsh.workspace = true
itertools.workspace = true
linkme = { workspace = true, optional = true }
konst.workspace = true
proptest = { workspace = true, optional = true }
serde_json.workspace = true
serde.workspace = true
smooth-operator.workspace = true
thiserror.workspace = true
tracing.workspace = true


[dev-dependencies]
namada_core = { workspace = true, default-features = false, features = [
    "testing",
] }
namada_gas.workspace = true
namada_parameters.workspace = true
namada_proof_of_stake = { workspace = true, features = ["testing"] }
namada_state = { workspace = true, features = ["testing"] }
namada_token = { workspace = true, features = ["testing"] }
namada_tx = { workspace = true, features = ["testing"] }
namada_vm = { workspace = true, features = ["testing"] }
namada_vp.workspace = true

assert_matches.workspace = true
proptest.workspace = true
