- Improved masp vp verification to run in parallel.
  ([\#2972](https://github.com/anoma/namada/pull/2972))