- Moved the signature verifications out of the masp vp and into the affected
  addresses' vps. ([\#3312](https://github.com/anoma/namada/issues/3312))