- Improved error logs in `process_proposal` and added more info to
  `InternalStats` ([#1407](https://github.com/anoma/namada/pull/1407))