[package]
name = "namada_systems"
description = "Namada systems abstract interfaces"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[dependencies]
namada_core.workspace = true
namada_events.workspace = true
namada_storage.workspace = true

[dev-dependencies]
cargo_metadata.workspace = true
lazy_static.workspace = true
