[package]
name = "namada_parameters"
description = "Namada parameters"
resolver = "2"
authors.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[features]
default = []
testing = [
    "namada_core/testing",
    "namada_storage/testing",
]

[dependencies]
namada_core = { path = "../core" }
namada_macros = { path = "../macros" }
namada_state = { path = "../state" }
namada_storage = { path = "../storage" }
namada_tx = { path = "../tx" }
namada_vp = { path = "../vp" }

smooth-operator.workspace = true
thiserror.workspace = true

[dev-dependencies]
namada_storage = { path = "../storage", features = ["testing"] }
